body {
  background: rgb(55, 55, 55);
  margin: 0;
}

* {
  border: 1px solid teal;
}

/*Mobile css*/
.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-grow: 3;
  justify-content: space-between;
  align-items: center;
  min-height: 70vh;
}

header,
footer,
aside {
  flex-grow: 1;
  margin: 0.5em;
}

main {
  flex-grow: 3;
  margin: 0.5em;
  min-width: 100%;
}

aside {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 100%;
  justify-content: space-between;
  margin: 0.5em;
}

aside div {
  flex-grow: 10;
  margin: 0.25em;
}

/*Desktop css*/
@media (min-width: 600px) {
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  header {
    width: 100%;
    min-height: 15vh;
  }

  .wrapper {
    justify-content: stretch;
    flex-basis: 70%;
    min-height: 75vh;
    margin: 0.5em;
  }

  main {
    min-width: 99%;
  }

  aside {
    min-width: 99%;
  }

  footer {
    min-height: 75vh;
    flex-grow: 3;
    margin: 0.5em;
  }
}
